packages:
  msi:
    sevenzip: http://downloads.sourceforge.net/sevenzip/7z920.msi/from/http://downloads.sourceforge.net
    
sources:
  "C:\Program Files (x86)\Notepad++": "http://download.tuxfamily.org/notepadplus/6.3.2/npp.6.3.2.bin.zip"

packages:
  msi:
    chrome: http://www.chromium.org/administrators/windows-quick-start/GoogleChromeStandaloneEnterprise.msi?attredirects=0&d=1/from/http://www.chromium.org

sources:  
  "C:\\Program Files (x86)\\boxedice": "https://www.serverdensity.com/downloads/sd-agent-windows.zip"

sources:
  "C:\\Program Files (x86)\\syslog": "http://www.syslogserver.com/syslogagent_v2.3_x64.zip"

packages:
  msi:
    baretail: http://www.baremetalsoft.com/baretail/download.php?p=m/from/http://www.baremetalsoft.com